// Mixins
@mixin container{
    max-width: 1470px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Reset*/
@import "reset";

// Colors
$accent-color:#CA8D66;
$gray:#5C6C72;

// Fonts
$main-font:'Montserrat Alternates', sans-serif;

/*Screen sizes*/
$mobile: 767px;
$tablet: 1024px;

/*Box-sizing*/
* {
    box-sizing: border-box;
}
// Class for H2
.title{
    font-family: $main-font;
    color: $accent-color;
    font-size: 4em;
    font-weight: 500;
}