p {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
<<<<<<< HEAD

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
=======
ul {
padding: 0;
margin: 0;
list-style-type: none;
>>>>>>> c129e0c7145337fe528515d510977113e37f9f00
}