body {
  background-color: white;
}

/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Screen sizes*/
/*Box-sizing*/
* {
  box-sizing: border-box;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #ca8d66;
  font-size: 4em;
  font-weight: 500;
}

.line {
  max-width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 2.125em;
}

.card {
  width: 345px;
  height: 470px;
  border: 1px #5c6c72 solid;
}
.card__img {
  width: 100%;
}
.card__name {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #5c6c72;
  text-align: center;
  margin-top: 22px;
}
.card__price {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #ca8d66;
  text-align: center;
  margin-top: 22px;
}

.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.contacts {
  display: inline-flex;
  width: 710px;
  height: 72px;
  background: rgba(202, 141, 102, 0.5);
  margin-top: 1.8em;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
}
.contacts__order {
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: 35px;
  font-weight: 500;
  font-size: 2em;
}

.icon-social {
  display: inline-flex;
  width: 50%;
  align-items: center;
  padding-top: 8px;
}
.icon-social__item-link_instagram {
  margin-left: 25px;
  margin-right: 32px;
}
.icon-social__item-link_instagram :hover {
  filter: drop-shadow(5px 5px 10px #df72a9);
}
.icon-social__item-link_vk {
  margin-right: 32px;
  width: 60px;
  height: 60px;
}
.icon-social__item-link_vk :hover {
  filter: drop-shadow(5px 5px 10px #75b2f8);
}
.icon-social__item-link_telegram {
  margin-right: 36px;
}
.icon-social__item-link_telegram :hover {
  filter: drop-shadow(5px 5px 10px #81cef0);
}
.icon-social__item-link_whatsapp {
  margin-right: 40px;
}
.icon-social__item-link_whatsapp :hover {
  filter: drop-shadow(5px 5px 10px #55e895);
}
.icon-social__item-link_phone {
  margin-right: 52px;
}
.icon-social__item-link_phone :hover {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.45));
}

.accessories {
  max-width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.accessories .contacts {
  align-self: flex-end;
}

.accessories-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 41px;
  gap: 1.25em;
}
