body {
  background-color: white;
}

/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Screen sizes*/
/*Box-sizing*/
* {
  box-sizing: border-box;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #ca8d66;
  font-size: 64px;
  font-weight: 500;
}
@media screen and (max-width: 1149px) {
  .title {
    font-size: 36px;
  }
}
