body {
  background-color: white;
}

/*Reset*/
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Screen sizes*/
/*Box-sizing*/
* {
  box-sizing: border-box;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #ca8d66;
  font-size: 64px;
  font-weight: 500;
}
@media screen and (max-width: 1149px) {
  .title {
    font-size: 36px;
  }
}

.contacts-map {
  max-width: 1578px;
  margin: 0 auto;
  padding-left: 54px;
  padding-right: 54px;
  display: grid;
  font-family: "Montserrat Alternates", sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 110px 250px 1.5fr;
  gap: 2px;
  padding: 0;
  max-width: 1441px;
  max-height: 818px;
}
.contacts-map .title-map__mobile {
  display: none;
}
.contacts-map__title1, .contacts-map__title2 {
  grid-row: 1/2;
  padding-top: 10px;
}
.contacts-map__text1, .contacts-map__text2 {
  display: grid;
  font-size: 32px;
  font-weight: 500;
  grid-row: 2/3;
}
.contacts-map__logo, .contacts-map__map {
  display: grid;
  grid-row: 3/4;
}
.contacts-map__logo {
  align-self: center;
}
.contacts-map__list {
  display: grid;
  align-items: stretch;
}
@media screen and (max-width: 1499px) {
  .contacts-map {
    max-width: 1108px;
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 0.5fr 150px 1.5fr;
    gap: 10px;
  }
  .contacts-map__title1, .contacts-map__title2 {
    font-size: 36px;
  }
  .contacts-map__text1, .contacts-map__text2 {
    font-size: 18px;
  }
  .contacts-map .contacts-logo {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (max-width: 1149px) {
  .contacts-map {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 120px 1.5fr;
  }
  .contacts-map__text1, .contacts-map__text2 {
    font-size: 14px;
  }
  .contacts-map__title1, .contacts-map__title2 {
    padding-top: 0px;
  }
  .contacts-map .title-map__mobile {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .contacts-map {
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 150px 220px 45px 100px;
    gap: 2px;
    font-size: 36px;
  }
  .contacts-map .title-map__mobile {
    display: block;
  }
  .contacts-map .title-map__display {
    display: none;
  }
  .contacts-map__title1 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .contacts-map__title2 {
    font-size: 36px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contacts-map__text1 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .contacts-map__text2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contacts-map__map {
    max-width: 350px;
  }
  .contacts-map__logo {
    display: none;
  }
}
.contacts-map .contacts-map__list .phone-link {
  color: #5c6c72;
  text-decoration: none;
}
.contacts-map .contacts-map__list .phone-link:hover {
  text-decoration: underline;
}
.contacts-map .contacts-map__list .messenger-link,
.contacts-map .contacts-map__list .social-link,
.contacts-map .contacts-map__list .map-link {
  text-decoration: none;
  color: #000000;
}
.contacts-map .contacts-map__list .messenger-link:hover,
.contacts-map .contacts-map__list .social-link:hover,
.contacts-map .contacts-map__list .map-link:hover {
  text-decoration: underline;
}
.contacts-map .map-frame {
  max-width: 100%;
  justify-self: stretch;
  align-self: stretch;
}
